* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* region unique tag */
h1 {
    color: white;
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

/* unique tag */


/*  region utility  */
.padding {
    padding: 2rem;
}

.text-main {
    background-color: rgb(255, 145, 101);
}

.text-size-big {
    font-size: 5rem;
}

.text-size {
    font-size: 1rem;
}

.text-size-medium {
    font-size: 2.5rem;
}

.img-top {
    justify-content: center;
    background-color: rgb(6, 80, 241);
}

.intro {
    padding: 1rem;
    color: white;
}

.go-link {
    padding: 1rem;

}

.flex-between {
    display: flex;
    justify-content: space-between;

}

.big-box {
    max-width: 70%;
    margin: auto;
    text-align: center;
}


.wave {
    color: lightgrey;

}

.wave-reverse {
    background-color: lightgrey;
    color: white;

}



/* / region utility */

/* header */
#app-header {
    width: 100%;
    padding: 50px;
}

header {
    background-image: url("/assets/img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;


}

/* /header */

/* start button */
.button-log-in {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 14px;
    border: none;
    padding: 5px;
    background-color: white;
}


.download-mac {
    border-radius: 24px;
    font-size: 16px;
    padding: 14px 28px;
    border: none;
    background-color: #5865f2;
    color: white;
    margin: 2rem;
}

.download {
    border-radius: 24px;
    font-size: 16px;
    padding: 14px 28px;
    border: none;
}

.open-browser {
    border-radius: 24px;
    font-size: 16px;
    padding: 14px 28px;
    border: none;
    background-color: #23272a;
    color: white;
}

.sign-in-button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 14px;
    border: none;
    padding: 5px;
    background-color: #5865f2;
    color: white;
}

/*  /button  */

/* container */

.container {
    justify-content: space-around;
    display: flex;
    max-width: 70%;
    margin: 5rem;
    font-size: 2.5rem;
}

.macro-container {
    justify-content: space-around;
    display: flex;
}

.container-white {
    background-color: white;
}

.container-grey {
    background-color: lightgrey;
    margin-top: -1rem;
}

.header-container {
    max-width: 50%;
    margin: auto;
    height: 200px;
    text-align: center;
    padding: 40px;
}


.container-footer {
    max-width: 70%;
    margin: auto;
    border-top: 2px solid #5865f2;

}

/* /container */

/* list header */
.list-header {
    list-style-type: none;
}

.li-inline {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

/* list footer */

.list-footer {
    list-style-type: none;

}

.blue-item {
    text-decoration: none;
    list-style-type: none;
    color: #5865f2;
    padding: 5px;


}

.white-item {
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 5px;

}

/* /list */

.nav {
    display: flex;
    margin: auto;
    max-width: 70%;
    justify-content: space-between;
}


.link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/*  region header  macro */


/* region main area */
.upper-main {
    justify-content: center;
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 30px;
}

.bottom-logo {
    margin-top: 1rem;
    padding: 0.75rem;
}

/* /region main area */


/*  region column */
.column-container {
    justify-content: center;
    display: flex;
    max-width: 70%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 2rem;

}

.column-big {
    color: white;
    width: 20%;
    height: 300px;
}

.column-small {
    color: white;
    width: calc(60% / 4);
    height: 300px;

}

/* /column */

/* region footer */

#app-footer {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 12px;
}

.footer-title {
    color: #5865f2;
    font-size: 1.5rem;
    padding-bottom: 30px;
}


.fa-brands {
    padding: 1rem;
}


/* non riesco a centrare il bg-img dell'immagine con le stelline */

/* .photo-footer{
    background-image: url(/assets/img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
} */